@font-face {
    font-family: Metropolis;
    src: url('../../assets/fonts/Metropolis Font family/Metropolis-Regular.otf');
    font-weight: normal;
}
@font-face {
    font-family: Metropolis;
    src: url('../../assets/fonts/Metropolis Font family/Metropolis-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Above;
    src: url('../../assets/fonts/AboveDemoRegular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Neoteric;
    src: url('../../assets/fonts/Neoteric.ttf');
    font-weight: normal;
}
@font-face {
    font-family: Neoteric;
    src: url('../../assets/fonts/NeotericBold.ttf');
    font-weight: bold;
}
* {
    font-family: Metropolis !important;
}

.screen-bg{
    width: 100vw;
    height: 100%;
    position: fixed;
    opacity: 0;
    transition: opacity .5s;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.netzwelt{
    background-image: url('../../assets/imgs/screen_netzwelt.JPG');
    opacity: 0.3;

}.pccw {
    background-image: url('../../assets/imgs/screen_pccw.JPG');
    opacity: 0.3;
}.mci {
    background-image: url('../../assets/imgs/screen_mci.JPG');
    opacity: 0.3;
}.hiraya {
    background-image: url('../../assets/imgs/screen_hiraya.JPG');
    opacity: 0.3;
}.quest {
    background-image: url('../../assets/imgs/screen_quest.JPG');
    opacity: 0.3;
}
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.root{
    /* background-color: #02072F; */
    --background: none;
    display: flex;
    justify-content: center;
}

.flex-container{
    margin: 0 auto;
    padding: 2rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}
.flex-container>div:nth-child(2){
    width: 40vw;
    max-width: 550px;
}
.experience-card{
    margin: 0 auto;
}

.root h1{
    font-weight: bold;
    font-size: 3rem ;
}
.root h2 {
    font-size: 1.3rem ;
    margin-top: 0.6rem ;
}
h4{
   margin-top: 1.2rem !important;
   font-size: 0.85rem;
    line-height: 1.5;
    margin: 0.25rem 0.3rem;
}

.grid{
    margin-top: 6rem;
}

.jobtitle-highlight{
    /* background-color: #4d617b;
    padding: 0.25rem 0.5rem; */
    /* color: #4d617b; */
}

.job-highlight{
    /* color: #87b3eb; */
    background-color: #4d617b;
    padding: 0.25rem 0.5rem;
}

div:has(> .section-divider:nth-child(1)){
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #fff;
}

.cards-container.flat-bg .experience-card{
    background-color: #4a5b6e;
}

.section-divider{
    color: rgb(215 215 215);
    font-weight: bold;
    padding: 0.25rem 1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}
.sliding-background {
    width: 100%;
    height: 300vh;
    background-position-y: 165px;
    position: absolute;
    opacity: 0.1;
        
    background: url('../../assets/imgs/wall_of_text.png') repeat-y;
    animation: slide 90s linear infinite;
}

.reverse{
    background: url('../../assets/imgs/wall_of_text_flip.png') repeat-y;
    background-position: right;
    animation: slide 200s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -1692px, 0);
    }
}

.fixed-footer{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fixed-footer>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fixed-footer>div>.vertical-container {
    margin-top: 1rem;
}

.vertical-container>div{
    text-align: center;
    /* padding-bottom: 0.25rem; */
    /* text-decoration: underline; */
    /* text-underline-offset: 0.35rem; */
    /* margin-bottom: 0.5rem; */
    padding: 0.25rem 0.5rem;
    background-color: #4d617b;
}
.vertical-container>p, .vertical-container>a {
    text-align: center;
    padding: 0.25rem 0.5rem;
}

ion-col{
    margin-left: 1rem;
}

@media screen and (max-width:1280px) {
    .sliding-background{
        opacity: 0.05;
    }
    .flex-container{
        display: flex;
        flex-direction: column;
    }
    .flex-container>div:nth-child(2){
        width: initial;
        max-width: 550px;
        margin: 0 auto;
    }
    .fixed-container{
        position: initial;
        width: initial;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:500px) {
    .root h1{
        font-size: 2rem;
    }
    .root h2{
        font-size: 1rem;
    }
}
