.page-content-container{
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    padding-top: 10vh;
}

.pc-inner{
    background-color: #a9a9a9;
    height: 90vh;
    width: 100%;
}

.company-logo{
    position: relative;    
    float: right;
    top: -75px;
    right: 10%;
}

.experience-card{
    background:rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 8px 1px #0f203b;
    transition: background-color 0.3s;
}

.card-logo{
    z-index: 1;
    position: relative;
    top: 25px;
    right: -280px;
    border-radius: 8px;
    width: 140px;
}

.card-text{
    line-height: 1.5;
    margin: 0.25rem 0.3rem;
    color: #cdcdcd;
}
.card-text>p {
    /* font-family: Neoteric !important;
    font-weight: bold; */
    font-size: 0.85rem;
}
.card-container{
    max-width: 70%;
    margin: 1rem 0 2rem auto;
    position: relative;
    transition: transform .3s;
}
.card-container:hover {
    transform: scale(1.05);
}
.card-container>.date{
    font-size: 0.8rem;
    margin: 0 0.3rem;
    margin-top: 0.5rem;
    color: #c7c3b1;
    position: absolute;
    left: -10rem;
}
.experience-card:hover{
    box-shadow: 0 0 16px 2px #293b58;
    background-color: #061020 !important;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.tag-list{
    padding:0;
    margin: 0;
}
.tag {
    background-color: #B9D9EB;
    color: #333;
    border-radius: 9999px;
    padding: 0.25rem 0.75rem;
    margin: 0 0.3rem;
    list-style: none;
    display: inline-block;
    margin-top: 0.6rem;
    font-size: 0.75rem;
}

.card-title{
    font-size: 1rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
}

.card-title span{
    display: block;
}

.card-title .title{
    font-size: 1rem;
    font-weight: bold;
}

.card-title .date{
    font-size: 0.8rem;
    margin: 0 0.3rem;
    margin-top: 0.8rem;
    color: #918f85;
    position: relative;
}


@media screen and (max-width:700px) {
    .card-container>.date {
            position: relative;
            display: block;
            left: 0;
            text-align: center;
            margin: 1rem;
            margin-bottom: 0.25rem;
            
    }
    .card-container{
        margin: 0 auto;
        margin-bottom: 2.5rem;
    }
}