/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/* Container for skill bars */
.progress-bar {
  width: 100%;
  /* Full width */
  background-color: #ddd;
  /* Grey background */
}

.progress {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: white;
  /* White text color */
}

.gold {
  background-color: #cabb6f;
}

.progress-bar-container ion-row ion-col:nth-child(2) h4{
  text-align: end;
}